.itemlistcontent {
    margin-top: 15px;
    text-align: center;
}
.cart-icon {
    color: #ffffff;
}
.bg-img {
    background-color: black;
}
.img-fluid {
    width: 100%;
    padding-top: 74px;
    opacity: 0.3;
    transition: transform 0.5s ease-in-out;
}
.brand-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
@media only screen and (max-width: 767px) {
    .brand-img {
      width: 80px;
      height: 35px;
      top: 25%;
      text-align: center;
      z-index: 1;
    }
}
button.swal2-cancel.swal2-styled {
    border-radius: 0%;
    padding: 10px 23px 10px 23px;
}
.swal2-input {
    padding: 10px 50px;
}